<form ng-submit="DatacenterModalCtrl.submit()">
    <div class="modal-header">
        <h3 class="modal-title" ng-hide="DatacenterModalCtrl.update">Create a new Datacenter</h3>
        <h3 class="modal-title" ng-show="DatacenterModalCtrl.update">{{ DatacenterModalCtrl.datacenter.name }}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert"
             ng-show="DatacenterModalCtrl.errors">
            <p ng-repeat="error in DatacenterModalCtrl.errors">{{ error }}</p>
        </div>
        <input-field
                label="Datacenter name"
                value="DatacenterModalCtrl.datacenter.name"
                editable="true"
                required="true">
        </input-field>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="DatacenterModalCtrl.cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">
            {{ DatacenterModalCtrl.update ? 'Update' : 'Create' }}
        </button>
    </div>
</form>
