<div class="container-instance">
    <div class="row">
        <div class="col-md-12">
            <configuration-picker configuration="ContainerInstanceCtrl.container.runConfiguration"
                                  editable="false"></configuration-picker>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input-field label="Container status" value="ContainerInstanceCtrl.status" editable="false"></input-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input-field label="Container started" value="ContainerInstanceCtrl.startedAt" editable="false"></input-field>
        </div>
        <div class="col-md-6">
            <input-field label="Container finished" value="ContainerInstanceCtrl.finishedAt" editable="false"></input-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea-field label="Container logs" value="ContainerInstanceCtrl.logs" editable="false"></textarea-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-xs margin-xs-bottom pull-right"
                    ng-hide="ContainerInstanceCtrl.status === 'RUNNING' || ContainerInstanceCtrl.status === 'STARTED'"
                    ng-click="ContainerInstanceCtrl.start()">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default btn-xs margin-xs-bottom margin-xs-right pull-right"
                    ng-show="ContainerInstanceCtrl.status === 'RUNNING' || ContainerInstanceCtrl.status === 'STARTED'"
                    ng-click="ContainerInstanceCtrl.stop()">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default btn-xs margin-xs-bottom margin-xs-right pull-right"
                    ng-show="ContainerInstanceCtrl.status === 'RUNNING' || ContainerInstanceCtrl.status === 'STARTED'"
                    ng-click="ContainerInstanceCtrl.restart()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>