<div class="credentials-picker">
    <div class="row" ng-if="!credentialsPicker.type">
        <div class="col-md-12">
            <div ng-show="credentialsPicker.editable">
                <div class="form-group">
                    <label for="credentials-type">Credentials: </label>
                    <select id="credentials-type" class="form-control"
                            ng-model="credentialsPicker.credentials.type">
                        <option value="" disabled>Select a credentials type</option>
                        <option value="USERNAME_PASSWORD">Username & Password</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="credentialsPicker.credentials.type === 'USERNAME_PASSWORD' || credentialsPicker.type === 'USERNAME_PASSWORD'">
        <div class="col-md-6">
            <input-field label="Username"
                         value="credentialsPicker.credentials.username"
                         editable="credentialsPicker.editable"></input-field>
        </div>
        <div class="col-md-6">
            <input-field label="Password"
                         value="credentialsPicker.credentials.password"
                         editable="credentialsPicker.editable"></input-field>
        </div>
    </div>
</div>