<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="projects-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="SchedulerCtrl.filter"
                   aria-describedby="projects-search-icon"/>
        </div>
        <div class="panel panel-default" ng-repeat="project in SchedulerCtrl.projects | filter: SchedulerCtrl.filter"
             ui-sref-active="panel-primary">
            <div class="panel-heading" ng-bind="project.name"></div>
            <div class="panel-footer clearfix">
                <button type="button" class="btn btn-xs btn-default pull-right"
                        ui-sref="scheduler.containers({projectId: project.id})">
                    {{ project.containers }} containers
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
