<div class="modal-header">
    <h3 class="modal-title" ng-bind="ContinentEditCtrl.continent.name"></h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Continent name: </label>
        <input type="text" class="form-control" id="name" ng-model="ContinentEditCtrl.continent.name"/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ContinentEditCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ContinentEditCtrl.edit()">Update</button>
</div>
