<div class="row">
    <div class="col-md-12">
        <div ng-show="configurationPicker.editable">
            <div class="form-group">
                <label for="configuration-type">Container type: </label>
                <select id="configuration-type" class="form-control" ng-model="configurationPicker.configuration.type">
                    <option value="IMAGE">Image</option>
                    <option value="GIT">Git</option>
                    <option value="DOCKERFILE">Dockerfile</option>
                </select>
            </div>
        </div>
        <div ng-show="configurationPicker.configuration.type === 'IMAGE'">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Image name: </label>
                        <field value="configurationPicker.configuration.name"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="configurationPicker.configuration.type === 'GIT'">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Git url: </label>
                        <field value="configurationPicker.configuration.url"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Git branch: </label>
                        <field value="configurationPicker.configuration.branch"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Git path: </label>
                        <field value="configurationPicker.configuration.path"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Git username: </label>
                        <field value="configurationPicker.configuration.username"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Git password: </label>
                        <field value="configurationPicker.configuration.password"
                               editable="configurationPicker.editable"></field>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="configurationPicker.configuration.type === 'DOCKERFILE'">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Dockerfile: </label>
                        <textarea rows="10" class="form-control"
                                  ng-model="configurationPicker.configuration.dockerfile"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>