<div class="configuration-picker">
    <div class="row">
        <div class="col-md-12">
            <div ng-show="configurationPicker.editable">
                <div class="form-group">
                    <label for="configuration-type">Container type: </label>
                    <select value="configuration-type" class="form-control"
                            ng-model="configurationPicker.configuration.type">
                        <option value="" disabled>Select a configuration</option>
                        <option value="IMAGE">Image</option>
                        <option value="GIT">Git</option>
                        <option value="DOCKERFILE">Dockerfile</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="configurationPicker.configuration.type === 'IMAGE'">
        <div class="col-md-12">
            <input-field label="Image name" value="configurationPicker.configuration.name"
                         editable="configurationPicker.editable"></input-field>
        </div>
    </div>
    <div ng-show="configurationPicker.configuration.type === 'GIT'">
        <div class="row">
            <div class="col-md-12">
                <input-field label="Git url" value="configurationPicker.configuration.url"
                             editable="configurationPicker.editable"></input-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input-field label="Git branch" value="configurationPicker.configuration.branch"
                             editable="configurationPicker.editable"></input-field>
            </div>
            <div class="col-md-6">
                <input-field label="Git path" value="configurationPicker.configuration.path"
                             editable="configurationPicker.editable"></input-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input-field label="Git username" value="configurationPicker.configuration.username"
                             editable="configurationPicker.editable"></input-field>
            </div>
            <div class="col-md-6">
                <input-field label="Git password" value="configurationPicker.configuration.password"
                             editable="configurationPicker.editable"></input-field>
            </div>
        </div>
    </div>
    <div class="row" ng-show="configurationPicker.configuration.type === 'DOCKERFILE'">
        <div class="col-md-12">
            <textarea-field label="Dockerfile" value="configurationPicker.configuration.dockerfile"
                            editable="configurationPicker.editable"></textarea-field>
        </div>
    </div>
</div>