<div class="row">
    <div class="col-md-12">
        <div ng-show="configurationPicker.editable">
            <div class="form-group">
                <label for="configuration-type">Container type: </label>
                <select id="configuration-type" class="form-control" ng-model="configurationPicker.configuration.type">
                    <option value="IMAGE">Image</option>
                </select>
            </div>
        </div>
        <div ng-show="configurationPicker.configuration.type === 'IMAGE'">
            <div class="form-group">
                <label>Container image: </label>
                <field value="configurationPicker.configuration.name" editable="configurationPicker.editable"></field>
            </div>
        </div>
    </div>
</div>