<div class="row">
    <div class="col-md-12">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="servers-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ServersCtrl.filter"
                   aria-describedby="servers-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ui-sref="continents.continent.datacenters.datacenter.servers.create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="list-group"
             ng-repeat="server in ServersCtrl.servers | filter: ServersCtrl.filter">
            <li class="list-group-item">
                <span class="badge">{{ server.ip }}</span>
                {{ server.name }}
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-xs btn-danger pull-right"
                        ng-click="ServersCtrl.delete(continent)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-xs btn-warning pull-right margin-xs-right"
                        ui-sref="continents.continent.datacenters.datacenter.servers.server.edit({continentId: ServersCtrl.continent.id, datacenterId: ServersCtrl.datacenter.id, serverId: server.id})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </li>
        </div>
    </div>
</div>
