<div class="row">
    <div class="col-md-12">
        <div class="input-group margin-sm-bottom">
            <input type="text" class="form-control" placeholder="Search" ng-model="ServersCtrl.filter"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"
                        ui-sref="continents.continent.datacenters.datacenter.servers.create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="panel panel-default" ng-repeat="server in ServersCtrl.servers | filter: ServersCtrl.filter">
            <div class="panel-heading">{{server.name}} @ {{server.ip}}</div>
            <div class="panel-footer clearfix">
                <button type="button" class="btn btn-sm btn-danger pull-right"
                        ng-click="ServersCtrl.delete(server)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm btn-warning pull-right margin-xs-right"
                        ui-sref="continents.continent.datacenters.datacenter.servers.server.edit({continentId: ServersCtrl.continent.id, datacenterId: ServersCtrl.datacenter.id, serverId: server.id})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
