<div class="row">
    <div class="col-md-12">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="servers-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ServersCtrl.filter"
                   aria-describedby="servers-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ui-sref="continents.continent.datacenters.datacenter.servers.create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="list-group">
            <a class="list-group-item"
               ng-repeat="server in ServersCtrl.servers | filter: ServersCtrl.filter"
               ui-sref-active="active">
                <span class="label label-primary pull-right">{{ server.ip }}</span>
                <h4 class="list-group-item-heading" ng-bind="server.name"></h4>
                <p class="list-group-item-footer">
                    <button type="button" class="btn btn-xs btn-default pull-right"
                            ng-click="ServersCtrl.delete(server)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default pull-right margin-xs-right"
                            ui-sref="continents.continent.datacenters.datacenter.servers.server.edit({continentId: ServersCtrl.continent.id, datacenterId: ServersCtrl.datacenter.id, serverId: server.id})"
                            ng-click="$event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </p>
            </a>
        </div>
    </div>
</div>
