<div class="modal-header">
    <h3 class="modal-title" ng-bind="ServerEditCtrl.server.name"></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <input-field label="Server name" value="ServerEditCtrl.server.name" editable="true"></input-field>
        </div>
        <div class="col-md-6">
            <input-field label="Server ip" value="ServerEditCtrl.server.ip" editable="true"></input-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server CA certificate" value="ServerEditCtrl.server.CAcertificate" editable="true"></textarea-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server certificate" value="ServerEditCtrl.server.certificate" editable="true"></textarea-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server key" value="ServerEditCtrl.server.key" editable="true"></textarea-field>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ServerEditCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ServerEditCtrl.edit()">Update</button>
</div>
