<div class="row">
    <div class="col-md-6">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="datacenters-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="DatacentersCtrl.filter"
                   aria-describedby="datacenters-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ui-sref="continents.continent.datacenters.create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="panel panel-default"
             ng-repeat="datacenter in DatacentersCtrl.datacenters | filter: DatacentersCtrl.filter"
             ui-sref-active="panel-primary">
            <div class="panel-heading" ng-bind="datacenter.name"></div>
            <div class="panel-footer clearfix">
                <button type="button" class="btn btn-xs btn-default pull-right"
                        ng-click="DatacentersCtrl.delete(datacenter)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-xs btn-default pull-right margin-xs-right"
                        ui-sref="continents.continent.datacenters.datacenter.edit({continentId: datacenter.continentId, datacenterId: datacenter.id})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-xs btn-default pull-right margin-xs-right"
                        ui-sref="continents.continent.datacenters.datacenter.servers({continentId: datacenter.continentId, datacenterId: datacenter.id})">
                    {{ datacenter.servers }} servers
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>
