<div class="row">
    <div class="col-md-6">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="datacenters-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="DatacentersCtrl.filter"
                   aria-describedby="datacenters-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="DatacentersCtrl.create()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="card"
             ui-sref-active="active"
             ng-repeat="datacenter in DatacentersCtrl.datacenters | filter: DatacentersCtrl.filter | orderBy:'-servers'"
             ui-sref="continents.continent.datacenters.datacenter.servers({continentId: datacenter.continentId, datacenterId: datacenter.id})">
            <div class="card-info">
                <span class="card-title" ng-bind="datacenter.name"></span>
                <span class="card-extra">{{ datacenter.servers }} servers</span>
            </div>
            <div class="card-actions">
                <div class="card-actions-right">
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="DatacentersCtrl.delete(datacenter); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="DatacentersCtrl.edit(datacenter); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>
