<div class="modal-header">
    <h3 class="modal-title">Create a new Datacenter</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Datacenter name: </label>
        <input type="text" class="form-control" id="name" ng-model="DatacentersCreateCtrl.datacenter.name"/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="DatacentersCreateCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="DatacentersCreateCtrl.create()">Create</button>
</div>
