hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.well.textarea {
    white-space: pre-line
}

.input-group button {
    margin-left: 5px !important;
}

.input-half > input {
    width: 50% !important;
}

.input-half > input:nth-child(2) {
    width: calc(50% - 5px) !important;
    margin-left: 5px !important;
}

.input-half > button {
    margin-left: 5px !important;
}

.well-half {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.well-half > .well:first-child {
    margin-right: 5px !important;
}

.well-half > .well {
    flex: 1;
    width: calc(50% - 2.5px) !important;
}

.list-group-item-text {
    margin: 10px 0;
}


.list-group-item-footer {
    overflow: auto;
    margin: 0;
}

textarea {
    resize: vertical;
}

footer > p {
    text-transform: uppercase;
}

footer > p > a:hover {
    text-decoration: none;
}

footer > p > .divider:after {
    padding: 0 3px;
    color: #ccc;
    content: "/\00a0";
}

.form-group label {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.form-group {
    margin-bottom: 10px;
}

.container-instance #container-logs {
    overflow: auto;
    max-height: 300px;
}

.list-group > .list-group-item {
    overflow: auto;
}