/*
 BREADCRUMB
 */

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/*
 FORMS
 */

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

input.ng-invalid,
textarea.ng-invalid {
    border: 2px solid #127ba3;
    box-shadow: 1px 1px 1px #158cba;
}

/*
 INPUT
 */

textarea {
    resize: vertical;
}

.well.textarea {
    white-space: pre-line
}

.input-group button {
    margin-left: 5px !important;
}

.input-half > input {
    width: 50% !important;
}

.input-half > input:nth-child(2) {
    width: calc(50% - 5px) !important;
    margin-left: 5px !important;
}

.input-half > button {
    margin-left: 5px !important;
}

.well-half {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.well-half > .well:first-child {
    margin-right: 5px !important;
}

.well-half > .well {
    flex: 1;
    width: calc(50% - 2.5px) !important;
}

/*
 NOTIFICATIONS
 */

.ui-notification h3 {
    color: #ffffff;
}

.ui-notification .message {
    color: #ffffff;
}

/*
 LIST ITEMS
 */

.list-group-item-text {
    margin: 10px 0;
}

.list-group-item-footer {
    overflow: auto;
    margin: 0;
}

.list-group > .list-group-item {
    overflow: auto;
}

.list-group-item.in-progress {
    border-left: 4px solid #5cb85c !important;
}

.list-group-item.finished {
    border-left: 4px solid #d9534f !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    color: #000000;
    background-color: #f5f5f5;
    border: 1px solid #e2e2e2;
}

/*
 LOCATION
 */

.location > .location-info {
    display: flex;
    flex-direction: row;
}

.location > .location-info > .location-name {
    flex: 1;
    text-transform: uppercase;
}

.location > .location-info > .location-extra {
    flex: none;
    padding: 0 5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    background-color: #eeeeee;
}

.location > .location-actions {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.location > .location-actions > .location-action {
    flex: none;
    margin-left: 5px;
}

/*
 PROJECT
 */

.project > .project-info {
    display: flex;
    flex-direction: row;
}

.project > .project-info > .project-name {
    flex: 1;
    text-transform: uppercase;
}

.project > .project-info > .project-extra {
    flex: none;
    padding: 0 5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    background-color: #eeeeee;
}

.project > .project-description {
    font-size: 1.2rem;
    margin: 10px 0;
}

.project > .project-actions {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.project > .project-actions > .project-actions-left {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.project > .project-actions > .project-actions-right {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.project > .project-actions .project-action {
    flex: none;
    margin-left: 5px;
}

.project > .project-actions .project-action:nth-child(1) {
    margin-left: 0;
}

/*
 FOOTER
 */

footer > p {
    text-transform: uppercase;
}

footer > p > a:hover {
    text-decoration: none;
}

footer > p > .divider:after {
    color: #cccccc;
    padding: 0 3px;
    content: "/\00a0";
}

/*
 OTHER
 */

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-instance #container-logs {
    overflow: auto;
    max-height: 300px;
}