.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.panel-default > .panel-footer {
    background-color: #ffffff;
}

.well.textarea {
    white-space: pre-line
}

textarea {
    resize: vertical;
}

footer > p {
    text-transform: uppercase;
}

footer > p > a:hover {
    text-decoration: none;
}

footer > p > .divider:after {
    padding: 0 3px;
    color: #ccc;
    content: "/\00a0";
}