<div class="modal-header">
    <h3 class="modal-title">Create a new Container</h3>
</div>
<div class="modal-body">
    <configuration-picker configuration="ContainersCreateCtrl.container.runConfiguration"
                          editable="true"></configuration-picker>
    <div class="form-group">
        <label for="arguments">Container arguments: </label>
        <input type="text" class="form-control" id="arguments" ng-model="ContainersCreateCtrl.container.arguments"/>
    </div>
    <location-picker locations="ContainersCreateCtrl.container.potentialLocations" editable="true"></location-picker>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ContainersCreateCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ContainersCreateCtrl.create()">Create</button>
</div>
