<div class="modal-header">
    <h3 class="modal-title">Create a new Server</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <input-field label="Server name" value="ServerCreateCtrl.server.name" editable="true"></input-field>
        </div>
        <div class="col-md-6">
            <input-field label="Server ip" value="ServerCreateCtrl.server.ip" editable="true"></input-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server CA certificate" value="ServerCreateCtrl.server.CAcertificate" editable="true"></textarea-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server certificate" value="ServerCreateCtrl.server.certificate" editable="true"></textarea-field>
        </div>
        <div class="col-md-12">
            <textarea-field label="Server key" value="ServerCreateCtrl.server.key" editable="true"></textarea-field>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ServerCreateCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ServerCreateCtrl.create()">Create</button>
</div>

