<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="projects-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ProjectInstancesCtrl.filter"
                   aria-describedby="projects-search-icon"/>
        </div>
        <div class="list-group" ng-repeat="project in ProjectInstancesCtrl.projects | filter: ProjectInstancesCtrl.filter">
            <li class="list-group-item">
                <span class="badge">{{ project.projectInstances.length }} builds</span>
                {{ project.name }}
            </li>
            <a class="list-group-item"
               ng-repeat="projectInstance in project.projectInstances | orderBy: 'initializedAt':-1"
               ui-sref="projectInstances.projectInstance.containerInstances({projectInstanceId: projectInstance.projectInstanceId})"
               ui-sref-active="active">
                <span class="badge">{{ projectInstance.initializedAt | toDate }}</span>
                {{ projectInstance.containers.length }} container(s)
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
