<div class="row">
    <div class="input-group margin-sm-bottom">
        <span class="input-group-addon" id="containers-search-icon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search" ng-model="ContainersCtrl.filter"
               aria-describedby="containers-search-icon"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ui-sref="projects.project.containers.create">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </span>
    </div>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="{{ container.id }}"
             ng-repeat="container in ContainersCtrl.containers | filter: ContainersCtrl.filter">
            <div class="row">
                <div class="col-md-12">
                    <configuration-picker configuration="container.runConfiguration"
                                          editable="false"></configuration-picker>
                </div>
                <div class="col-md-12" ng-show="container.arguments">
                    <div class="form-group">
                        <label for="arguments">Container arguments: </label>
                        <div class="well well-sm margin-xs-bottom" id="arguments" ng-bind="container.arguments"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <location-picker locations="container.potentialLocations" editable="false"></location-picker>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-sm btn-danger pull-right"
                            ng-click="ContainersCtrl.delete(container)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-warning pull-right margin-xs-right"
                            ui-sref="projects.project.containers.container.edit({projectId: ContainersCtrl.project.id, containerId: container.id})">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
</div>
</uib-accordion>
</div>