<div class="row">
    <div class="col-md-3">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="projects-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ProjectCtrl.filter"
                   aria-describedby="projects-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ProjectCtrl.create()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="card"
             ui-sref-active="active"
             ui-sref="projects.project.containers({projectId: project.id})"
             ng-repeat="project in ProjectCtrl.projects | filter: ProjectCtrl.filter">
            <div class="card-info">
                <span class="card-title" ng-bind="project.name"></span>
                <span class="card-extra">{{ project.containers }} containers</span>
            </div>
            <p class="card-description" ng-bind="project.description"></p>
            <div class="card-actions">
                <div class="card-actions-left">
                    <button type="button" class="btn btn-xs btn-primary card-action"
                            ng-click="ProjectCtrl.deploy(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        Deploy
                    </button>
                </div>
                <div class="card-actions-right">
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="ProjectCtrl.delete(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="ProjectCtrl.edit(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>
