<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <input type="text" class="form-control" placeholder="Search" ng-model="ProjectCtrl.filter"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ui-sref="projects.create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="panel panel-default" ng-repeat="project in ProjectCtrl.projects | filter: ProjectCtrl.filter"
             ui-sref-active="panel-primary">
            <div class="panel-heading" ng-bind="project.name"></div>
            <div class="panel-body">
                <p ng-bind="project.description"></p>
            </div>
            <div class="panel-footer clearfix">
                <button type="button" class="btn btn-sm btn-primary">
                    Deploy
                </button>
                <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="ProjectCtrl.delete(project)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm btn-warning pull-right margin-xs-right"
                        ui-sref="projects.project.edit({projectId: project.id})">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-sm btn-info pull-right margin-xs-right"
                        ui-sref="projects.project.containers({projectId: project.id})">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
