<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="projects-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ProjectCtrl.filter"
                   aria-describedby="projects-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ProjectCtrl.create()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="list-group">
            <li class="list-group-item project" ui-sref-active="active"
               ui-sref="projects.project.containers({projectId: project.id})"
               ng-repeat="project in ProjectCtrl.projects | filter: ProjectCtrl.filter">
                <section class="project-info">
                    <span class="project-name" ng-bind="project.name"></span>
                    <span class="project-extra">{{ project.containers }} containers</span>
                </section>
                <section class="project-description" ng-bind="project.description"></section>
                <section class="project-actions">
                    <button type="button" class="btn btn-xs btn-default project-action"
                            ng-click="ProjectCtrl.delete(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default project-action"
                            ng-click="ProjectCtrl.edit(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary project-action"
                            ng-click="ProjectCtrl.deploy(project); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        Deploy
                    </button>
                </section>
            </li>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
