<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="continents-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ContinentsCtrl.filter"
                   aria-describedby="continents-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ContinentsCtrl.create()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="list-group">
            <li class="list-group-item location" ui-sref-active="active"
               ng-repeat="continent in ContinentsCtrl.continents | filter: ContinentsCtrl.filter"
               ui-sref="continents.continent.datacenters({continentId: continent.id})">
                <section class="location-info">
                    <span class="location-name" ng-bind="continent.name"></span>
                    <span class="location-extra">{{ continent.datacenters }} datacenters</span>
                </section>
                <section class="location-actions">
                    <button type="button" class="btn btn-xs btn-default location-action"
                            ng-click="ContinentsCtrl.delete(continent); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default location-action"
                            ng-click="ContinentsCtrl.edit(continent); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </section>
            </li>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
