<div class="row">
    <div class="col-md-4">
        <div class="input-group margin-sm-bottom">
            <span class="input-group-addon" id="continents-search-icon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="ContinentsCtrl.filter"
                   aria-describedby="continents-search-icon"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="ContinentsCtrl.create()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="card"
             ui-sref-active="active"
             ng-repeat="continent in ContinentsCtrl.continents | filter: ContinentsCtrl.filter | orderBy:'-datacenters'"
             ui-sref="continents.continent.datacenters({continentId: continent.id})">
            <div class="card-info">
                <span class="card-title" ng-bind="continent.name"></span>
                <span class="card-extra">{{ continent.datacenters }} datacenters</span>
            </div>
            <div class="card-actions">
                <div class="card-actions-right">
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="ContinentsCtrl.delete(continent); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-default card-action"
                            ng-click="ContinentsCtrl.edit(continent); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div ui-view></div>
    </div>
</div>
